.DS_Store
.worktrees/
.nupkg/*
!.nupkg/flowengine/
.nupkg/flowengine/*
!.nupkg/flowengine/FlowEngine.0.1.0-preview.9.nupkg
!.nupkg/flowengine/FlowEngine.Execution.0.1.0-preview.9.nupkg
!.nupkg/flowengine/FlowEngine.Execution.Equipment.0.1.0-preview.9.nupkg
!.nupkg/flowengine/FlowEngine.Server.0.1.0-preview.9.nupkg
bin/
obj/
*.db
*.db-shm
*.db-wal
